
// HEADER - date, subtotal, control buttons


div#header {

	margin-top: 20px;
	margin-bottom: 10px;
	vertical-align: center;

	border: 2px solid black;
  padding: 10px;
  background-color: #cccccc;
  margin-bottom: 25px !important;

	#subtotalCounter {
		font-size: 1.5em;
	}

	div#dateTitle {
    width: 40% !important;
    min-width: 350px !important;
	}

	// CONTROLS : inputs and buttons
	div#controls {

		vertical-align: center;
		padding-bottom: 15px;

		.control-button {
			display: inline;

			margin-left: 10px;
			maring-right: 10px;

			padding-left: 10px;
			padding-right: 10px;	
		}

		input#setName {
			min-width: 108px;
			max-width: 108px;
		}

		input#setDate {
			min-width: 137px;
			max-width: 137px; 
		}

		input#email {
			margin: 0px;
		}

		input#delete {
			margin: 0px;
		}
	}

	
}