
// HEADER - date, subtotal, control buttons

#subtotalCounter {
	font-size: 1.5em;
}

#setDate {
    width: 50%;
}


input#setName {
	min-width: 108px;
	max-width: 108px;
}

input#setDate {
	min-width: 137px;
	max-width: 137px; 
}

input#email {
	margin: 0px;
}

input#delete {
	margin: 0px;
}


.navbar {
	background-color: $light_grey;
	border-color: $black;

	ul {
		// text-align: center;
	}

	li {
		//font-size: 20px;
		// display: inline-block;
		// position: relative;
	}
}

[name="date-title"] {
    width: 40% !important;
    min-width: 350px !important;
}