
.pending-text {
	color: red;
}

.media[name="recordControlButtons"] .media-left {
	min-width: 90px !important;
}

button[name="collapseToggle"], button[name="editButton"], button[name="deleteButton"] {
	display: inline !important;
}

.record-content {
	display: inline;
}

button[name="deleteButton"]:focus {
	background-color: red;
}

input[name="completeEndTime"] {
	min-width: 60px;
	max-width: 60px;
	font-size: 0.9em;
	border: 1px solid red;
	display: inline;
}

[name="record-display-string"] {
	padding-top: 2px !important;
	padding-bottom: 2px !important;
}

span[name="notes"] {
	font-weight: bold;
}