
.pending-text {
	color: red;
}

div[name="record-display-col"] {
	margin-left: -10px !important;
}

[name="recordControls"] {
	min-width: 70px !important;
}

button[name="collapseToggle"], button[name="editButton"], button[name="deleteButton"] {
	display: inline !important;
}

.record-content {
	display: inline;
}

button[name="deleteButton"]:focus {
	background-color: red;
}

input[name="completeEnd"] {
	min-width: 60px;
	max-width: 60px;
	font-size: 0.9em;
	border: 1px solid red;
	display: inline;
}

[name="record-display-string"] {
	margin-left: -20px !important;
	padding-top: 2px !important;
	padding-bottom: 2px !important;
	width: 100%;
}

input[name="notes"] {
	font-weight: bold;
	margin-top: 5px;
	width: 90%;
}

.full-width {
	width: 100%;
}