
// DROPDOWN : needed in records


.dropdown {
    position:relative;
    width:150px;
    height:34px;
    border:0;
    padding:0;
    margin:0;
    margin-right: 155px;
}

.dropdown-select {
    position:absolute;
    top:0px;
    left:0px;
    width:150px;
    height:34px;
    line-height:20px;
    margin:0;
    padding:0;
    padding-left: 10px;
}

.dropdown-input {
    position:absolute;
    top:0px;
    left:0px;
    width:130px;
    /*#width:180px\9;*/
    /*#width:180px;*/
    height:34px;
    /*#height:21px\9;*/
    /*#height:18px;*/
    /*border:1px solid #556;*/
    padding-left: 10px;
}