
// RECORDS

@import 'dropdown';

// ###################################################
.records {
	margin-top: 0px;
	padding-left: 20px !important;
	padding-right: 20px !important;

	.record {

		.record-content {
			display: inline;
		}

		.record-controls {
			min-width: 70px !important;

			button {
				display: inline;
			}
		}

		.record-display {

			.record-display-string {
				display: inline;
				margin-left: -20px !important;
				padding-top: 2px !important;
				padding-left: 20px;
				padding-bottom: 2px !important;
				width: 100%;

				// padding-top: 10px;
			}
		}
	}
}
// ###################################################

// .records {
	// margin-top: 0px;
	// padding-left: 20px !important;
	// padding-right: 20px !important;

	// h4 {
	// 	display: inline;
	// 	padding-left: 20px;
	// 	padding-top: 10px;
	// }

	// table tr td {
	// 	padding: 10px;
	// 	font-size: 1.15em;
	// }
// }

// .negative-duration {
// 	color: $red;
// 	font-weight: bold;
// }

// div.billable, div.emergency {
//     display: inline;
//     margin-left: 10px;
//     margin-right: 10px;
// }


div.labels label {
    padding-right: 120px;
}

div.panel-body {
    padding-bottom: 0px;
}

.panel {
    margin-top: 20px !important;
    border: 2px solid black;

}

.pending-text {
	color: $red;
}

div[name="record-display-col"] {
	margin-left: -10px !important;
}

// [name="record-controls"] {
// 	min-width: 70px !important;
// }



.negative-duration {
	color: $red;
	font-weight: bold;
}

// ###################################################



input[name="completeEnd"] {
	min-width: 60px;
	max-width: 60px;
	font-size: 0.9em;
	border: 1px solid red;
	display: inline;
}

input[name="completeEnd"] {
	min-width: 60px;
	max-width: 60px;
	font-size: 0.9em;
	border: 1px solid red;
	display: inline;
}

// [name="record-display-string"] {
// 	margin-left: -20px !important;
// 	padding-top: 2px !important;
// 	padding-bottom: 2px !important;
// 	width: 100%;
// }

input[name="notesDisplay"] {
	font-weight: bold;
	margin-top: 5px;
	display: inline-block;
	width: 70%;
}

